* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}
.nav-head-container {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Banner\ Image.png");
  width: 1300px;
  height: 600px;
  border-radius: 16px;
  display: flex;
  justify-items: center;
  margin: 0 auto;
  border-radius: 16px;
}
.nav-banner-text {
  width: 600px;
  height: 150px;
  margin: 181px 33px 68px 300px;
}
.nav-head-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  width: 632px;
  margin-bottom: 55px;
}

.nav-head-peragrap {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 37px;
  font-weight: 900;
  line-height: 65px;
}
/* banner heading section style  */
.nav-banner-offer {
  width: 1600px;
  height: 7335px;
  background-color: #fff;
  margin: 20px;
}
.banner-head {
  color: #f00;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  font-family: Merriweather;
  margin: 30px;
}
.banner-paragreap {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 14px;
  font-weight: 400;
  margin: 30px auto;
  margin-bottom: 10px;
}
.banner-heading {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 28px;
  font-weight: 700;
  margin: 0 auto;
}
.banner-img {
  flex-shrink: 0;
  fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 15px;
}
