* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  font-family: "Inter", sans-serif;
}
.nav-head-container {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Banner\ Image.png");
  width: 1300px;
  height: 600px;
  border-radius: 16px;
  display: flex;
  justify-items: center;
  margin: 0 auto;
  border-radius: 16px;
}
.nav-banner-text {
  width: 600px;
  height: 150px;
  margin: 181px 33px 68px 300px;
}
.nav-head-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  width: 632px;
  margin-bottom: 55px;
}

.nav-head-peragrap {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 37px;
  font-weight: 900;
  line-height: 65px;
}
/* banner heading section style  */
.nav-banner-offer {
  background-color: #fff;
  margin: 85px;
}
.banner-head {
  color: #f00;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  font-family: Merriweather;
  margin: 60px;
}
.banner-paragreap {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 18px;
  font-weight: 400;
  margin: 30px auto;
  margin-bottom: 28px;
}
.banner-heading {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 28px;
  font-weight: 700;
  margin: 0 auto;
}
.banner-img {
  flex-shrink: 0;
  fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 15px;
}
.head-container {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(resources/Vectorrr.png);
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  display: block;
  margin: 0 auto;
  display: flex;
}
.head-content {
  padding: 221px 94px 59px 78px;
  display: block;
}

.head-header {
  color: #fff;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 7.04px;
  width: 658px;
  height: 155px;
  padding-bottom: 0;
}
.head-peragrap {
  width: 697px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF.80%;
  padding-top: 9px;
}
.head-btn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding-top: 48px;
}
.head-image {
  display: flex;
}
.head-image {
  width: 319.83px;
  height: 464.662px;
  padding: 66.008px 0px 0px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.head-midile-container {
  height: 482px;
  flex-shrink: 0;
  fill: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin: 50px auto;
}
.head-midile-text {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  padding: 120px 0px 0px 350px;
  display: inline;
}
.btn-midile {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-color: #f00;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 708px;
}
.midile-text {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  background-color: honeydew;
}
.midile-banner-container {
  width: 1600px;
  height: 1550px;
  margin: 0 auto;
}
.midile-banner {
  width: 400px;
  height: 100px;
  display: contents;
  margin: 0 auto;
  padding: 20px;
}
.banner-head {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin: 34px auto;
}
.main-head {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  width: 800px;
  margin: 36px auto;
}
.sale50 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin: 63px auto;
}
.banner-dircisption {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
  width: 1068px;
  margin: 0 auto;
}
.banner-images {
  width: 1320px;
  margin-top: 65px;
}
.rows {
  margin: 0 auto;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.colmun {
  position: relative;
  top: 0;
  left: 0;
}
.offer-img {
  position: relative;
  top: 25px;
}
.woman-img {
  position: relative;
  top: 5px;
  left: 546px;
  border-radius: 16px 16px 0px 0px;
  background: url(<path-to-image>),
    lightgray -59.98px 0px / 151.553% 100% no-repeat,
    linear-gradient(
      16deg,
      #5f3b33 374.27%,
      #784833 377.69%,
      #8b5233 381.11%,
      #995933 384.53%,
      #a15e33 387.95%,
      #a35f33 396.5%,
      #af6d35 403.34%,
      #cd9039 418.73%,
      #dfa53b 432.4%,
      #e6ad3c 442.66%,
      #d1953a 447.79%,
      #b67737 456.34%,
      #a36135 464.89%,
      #975433 473.44%,
      #935033 480.28%
    ),
    radial-gradient(
      69.16% 8.37% at 36.33% 48.09%,
      #ffb800 0%,
      #ffc738 18%,
      #ffdf8c 48%,
      #fff0ca 73%,
      #fffbf0 91%,
      #fff 100%
    ),
    linear-gradient(
      98deg,
      #ffad41 -59.69%,
      #ffc25c -57.78%,
      #ffd575 -53.97%,
      #ffe387 -50.16%,
      #ffeb92 -46.35%,
      #ffee95 -42.54%,
      #fdea92 -38.73%,
      #f8df88 -36.82%,
      #efcd77 -33.01%,
      #e2b35f -29.2%,
      #cb8536 -25.39%,
      #cf8d3d -17.77%,
      #daa351 -8.24%,
      #ecc772 5.09%,
      #ffee95 16.52%,
      #ffe281 18.43%,
      #ffd76d 20.33%,
      #ffce5e 22.24%,
      #ffc956 26.05%,
      #ffc853 31.77%,
      #cb8536 75.59%,
      #d18937 85.11%,
      #e1963b 96.55%,
      #fcab40 111.79%,
      #ffad41 113.69%,
      #cb8536 130.84%
    );
  width: 554px;
  height: 537px;
  flex-shrink: 0;
}
.offer-img1 {
  position: absolute;
  top: 193px;
  left: 834px;
  width: 311.841px;
  height: 333.841px;
  flex-shrink: 0;
}
.bg-img {
  width: 1550px;
  height: 229px;
  flex-shrink: 0;
  border-radius: 16px 0px 16px 16px;
  background: #f00;
}
.portofilo {
  margin: 0 auto;
  display: block;
  justify-content: center;
  width: 1687px;
}
.portofilo-content {
  margin: -233px 0 43px 53px;
}
.normal-heading {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding: 12px;
}
.portofilo-heading {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  font-weight: 500;
  padding: 15px;
}
.content {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 896px;
  font-weight: 500;
  padding: 15px;
}
.row {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
}
.colum {
  border-radius: 16px;
  background: #fff;
  float: left;
  padding: 12px;
}
.por-imgs {
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.head-last-section {
  width: 1320px;
  flex-shrink: 0;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin: 0px auto;
  padding: 90px;
}
.head-last-img {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  margin: 100px 0 64px 598px;
}
.head-last-heading {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.head-content {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
  padding: 62px 94px 83px 78px;
}
.container {
  position: relative;
  border: 3px solid orange;
  height: 70px;
  overflow: hidden;
  margin-bottom: 10px;
  margin: 0 auto;
  width: 648px;
}

.text_input {
  height: 70px;
  width: 60%;
  padding: 0;
  line-height: 30px;
  font-size: 20px;
  padding: 0;
  margin: 3px;
  margin-left: 20px;
  border: none;
  border-radius: 50px;
  background: #fff;
}
.text_input:focus {
  outline: none;
}
.btn1 {
  position: absolute;
  height: 72px;
  line-height: 50px;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  color: white;
  border: none;
  width: 30%;
  font-weight: bold;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
}

.btn:hover {
  color: black;
  cursor: pointer;
}
footer {
  background: #070211;
  width: 1600px;
  flex-shrink: 0;
  margin: 0 auto;
  margin-top: 100px;
}
.footer-top{
  display: flex;
  height: 300px;
  justify-content: space-between;
}
.footer-left{
  color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
margin: 113px 0 0 200px;
}
.footer-right{
  color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; 
display: inline-;
margin: 100px 200px 0 0;
}
.footer-right>p {
  width: 200px;
}
.ftop-img{
  width: 24px;
height: 24px;
flex-shrink: 0;
margin: 4px 0 -45px -42px;

}
.img-text{
flex-shrink: 0;
}
.footer-midilal{
display: flex;
justify-content: space-evenly;margin: 70px;

}
.footer-img{
  width: 64px;
height: 64px;
flex-shrink: 0;
margin-right: -200px;
}
.footer-bottom{
  color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
display: flex;
justify-content: space-between;
}
.footer-left{
  margin-bottom: 100px;
}